
body{
    margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.units{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.units img{
    height: 150px;
}
.etc a{
    text-decoration: none;
    color:black;
    width: 300px;
}
.card{
    border: solid hotpink;
    border-radius: 20px;
    padding: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items:center;
    background-color: white;
    flex-wrap: wrap;

}
nav ul img{
    height: 50px;
    width: 300px;
}
.searchbar{
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    width: 300px;
    
    height: 30px;
    
}
nav ul a{
    background-color:black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}
a{
    text-decoration: none;
}
nav a:hover{
  color: white;
}
.dropdown{
    margin-left: 20px;
    background-color:black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
}
.dropdowncontent a{
    margin: 10px;
    text-decoration: none;
    display:contents;
    color: black;
}
.dropdown a:hover{
  color: black;
}

.dropdown:hover .dropdowncontent{
    cursor: pointer;
    display: block;
}
.bar a{
    display: contents;
    color: black;
}
.mobilenavbar{
    display: none;
}
h3{
  font-weight:600;
}
.card img{
    height:400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.accordion-body a:hover{
  color: black;
}
.accordion-body a{
  color: black;
}
footer{
  margin-top: 30px;
  background-color: brown;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  flex-flow:row;
  column-count: 4;
  margin-left:-20px ;
  margin-right: -20px;
  margin-bottom: -20px;

}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  text-decoration: none;
  color: white;
}
.d{
  margin-top: 40px;
}
.subscribebutton{
  background-color: #F2618B; 
  color: white; 
  padding-left: 5px; 
  padding-right: 5px; 
  border: none; 
  border-radius: 5px; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  
}
.usersignin{
  flex-wrap: wrap;
  display: flex;
  align-items:center;

}

.signinsearchbar{
  border-style:solid;
  border-color: black;
  border-radius: 10px;
  width: 300px;
  
  height: 30px;
}
.dropdowncontentu{
  position: absolute;
  background-color: #f9f9f9;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* padding: 12px 16px; */
  z-index: 3;
  width: 150px;
  left: 1350px;
  cursor: pointer;
}
.dropdowncontentu>a{
background-color:white;
color: black;
padding: 0px;
}
.signinbar{
  margin-left: 90px;
}
::selection{
  color: white;
  background-color: hotpink;
}

@media screen and (min-width:768px) and (max-width:1366px) {
  body{
    zoom: 0.85;
  }
}

@media screen and (min-width:481px) and (max-width:768px) {
  .dropdowncontentu{
    left: 300px;
    top:140px;
  }
  .usersignin{
    align-content:center;
    margin-top: -20px;
    margin-left: 30px;
 
  }
  .s li{
    padding-top: 0px;
    margin-left:0px;
  }
  .signinsearchbar{
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    width: 200px;
    
    height: 30px;
  }
  
  #uimg{
    margin-top: 10px;
  }
    .card img{
        height:400px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .searchbar{
      border-style:solid;
      border-color: black;
      border-radius: 10px;
      width: 100px;  
      height: 30px;
    }

    a{
      text-decoration: none;
    }

    .dropdown{
      display: none;
    }
    nav ul img{
      height: 50px;
      width: 300px;
      margin-bottom: 20px;
    }
    .bar a:hover{
      color: black;
    }
    footer{
      margin-top: 30px;
      background-color: brown;
      color: white;
      padding: 20px;
      display: grid;
      row-gap:10px;

    }
    .d{
      margin-top: -5px;
    }
    .subscribebutton{
      background-color: #F2618B; 
      color: white; 
      padding-left: 5px; 
      padding-right: 5px; 
      border: none; 
      border-radius: 5px; 
      padding-top: 3px; 
      padding-bottom: 3px; 
      margin-top: 20px;
      margin-bottom: 0px;
  
    }
    .icon{
      margin-left: 150px;

    }
}
