
body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signup{
    columns: 2;
    column-width: 50%;
}
.form{
    background-color: white;
    position: relative;
    width: fit-content;
    padding-top: 10px;

    padding-left: 20px;
    padding-right: 20px;
    height:690px;
    left:300px;
    border: hotpink solid;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.button{
    border-style: none;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: -50px;
}
a{
    color:blue;
    text-decoration: none;
}

@media screen and (min-width:481px) and (max-width:768px) {
    .img{
        display: none;
    }
    .signup{
        columns: 1;
    
    }
    body{
        background-image: url("./10161832.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;
    }
    .form{
        background-color: white;
      
        position: relative;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        height:700px;
        left:30px;
        border: hotpink solid;
        border-radius: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
}
